@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  font-family: "Questrial", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #e1dde2;
}

p {
  color: rgb(12, 11, 11);
}

.width-contain {
  margin: auto;
  min-height: fit-content;
}
a {
  cursor: pointer;
}

//Titre sous la navbar

.title-description {
  width: 1400px;
  height: 200px;
  margin: auto;
  display: flex;


  h2 {
    color: rgb(61, 58, 58);
    font-size: 90px;
  }
}

//Key frames

