@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  font-family: "Questrial", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #1E1C1C;
}

p {
  color: white;
}

.width-contain {
  max-width: 1400px;
  margin: auto;
  min-height: fit-content;
  padding: 20px;
}
a {
  cursor: pointer;
}