@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  font-family: "Questrial", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #e1dde2;
}

p {
  color: rgb(12, 11, 11);
}

.width-contain {
  margin: auto;
  min-height: fit-content;
}
a {
  cursor: pointer;
}

//Titre sous la navbar

.title-description {
  max-width: 1400px;
  height: 200px;
  margin: auto;
  display: flex;


  h2 {
    color: rgb(61, 58, 58);
    font-size: 90px;
  }
}

//Responsive Desktop
@media only screen and (min-device-width: 900px) and (max-device-width: 1300px) {
  .title-description {
    max-width: 500px;
    height: 100px; 
    
    h2 {
      font-size: 40px;
      margin-left: 30px;
    }
  }
}

//Responsive tablette
@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {
  .title-description {
    max-width: 900px;
    height: 200px; 
    h2 {
      font-size: 60px;
    }
  }
}

// Responsive Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .title-description {
    max-width: 500px;
    height: 100px; 
    
    h2 {
      font-size: 40px;
      margin-left: 0;
      margin: auto;
    }
  }
}
