@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0 15%;
  background-color: #1E1C1C;
}

p {
  color: white;
}