.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #545151d1;
  margin-bottom: 0;
  width: 100%;
  height: 100px;
  color: white;

  h4 {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    border-right: 2px solid white;
    padding-right: 35px;
    height: 100%;
  }

  .footer-infos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 0 20px;

    .footer-about {
      flex-direction: row !important;

      p {
        color: white;
      }
    }
    .footer-social {
      display: flex;
      gap: 1em;
      a {
        color: white;

        .fa-brands {
          font-size: 50px;

          &:hover {
            color: #7e9fcb;
          }
        }
      }
    }
  }
  .footer-disclaimer {
    text-align: center;
    color: white;
  }
}

//Responsive Desktop

@media only screen and (min-device-width: 900px) and (max-device-width: 1300px) {
  .footer-container {
    h4 {
      font-size: 1em;
    } 
  }
}

//Responsive tablette

@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {
  .footer-container {
    flex-direction: column;
    height: auto;
    h4 {
      font-size: 1em;
      border-right: none;
      padding-right: 0;
    }
  
    .footer-infos {
      gap: 1em;
      padding: 0 20px;
      justify-content: center;
  
      .footer-social {
        a {
          .fa-brands {
            font-size: 40px;
          }
        }
      }
    }
    .footer-disclaimer {
      width: 180px;
    }
  }
}

// Responsive Mobile

@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .footer-container {
    flex-direction: column;
    height: auto;
    h4 {
      font-size: 1em;
      border-right: none;
      padding-right: 0;
    }
  
    .footer-infos {
      justify-content: center;
      gap: 1em;
      padding: 0;
      .footer-social {
        a {
          .fa-brands {
            font-size: 40px;
          }
        }
      }
    }
    .footer-disclaimer {
      text-align: center;
      width: 180px;
    }
  }

}
