.navbar {
  display: flex;
  justify-content: left;
  gap: 1rem;
  max-width: 1400px;
  padding-left: 200px;
  padding-top: 60px;

   .active {
    border-bottom: 2px solid #7e9fcb;
    -webkit-animation: slide-active-links 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-active-links 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  ul {
    display: flex;
    gap: 2em;

  
    a {
      color: rgb(80, 70, 70);
      font-family: "Questrial", sans-serif;
      font-size: 2em;
      text-transform: uppercase;
    }

    a:hover {
      color: #7e9fcb;
    }

    
  }
}

//Responsive Desktop

@media only screen and (min-device-width: 900px) and (max-device-width: 1300px) {
  .navbar {
    max-width: 1000px;
    padding-top: 20px;
    padding-left: 50px;
  
    ul {
      a {
        font-size: 1.5em;
      }
    }
  }
}

//Responsive tablette

@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {
  .navbar {
    max-width: 900px;
    padding-top: 10px;
    padding-left: 10px;
  
    ul {
      a {
        font-size: 1em;
      }
    }
  }
}

// Responsive Mobile

@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .navbar {
    max-width: 500px;
    padding-top: 10px;
    padding-left: 10px;
  
    ul {
      flex-wrap: wrap;
      a {
        font-size: 1em;
      }
    }
  }
}


//active underline animation 
@keyframes slide-active-links {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
