.navbar {
    display: flex;
    gap: 1rem;
    width: fit-content;
    margin-top: 100px;
  
    a {
      color: white;
      font-family: "Questrial", sans-serif;
      font-size: 2em;
      text-transform: uppercase;
    }
  }