.navbar {
  display: flex;
  justify-content: left;
  gap: 1rem;
  max-width: 1400px;
  padding-left: 200px;
  padding-top: 60px;

   .active {
    border-bottom: 2px solid #e0dad7;
    -webkit-animation: slide-active-links 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-active-links 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  ul {
    display: flex;
    gap: 1em;

  
    a {
      color: white;
      font-family: "Questrial", sans-serif;
      font-size: 2em;
      text-transform: uppercase;
    }

    .a01:hover {
      color: #f8b595;
    }

    .a02:hover {
      color: #f67280;
    }

    .a03:hover {
      color: #c06c84;
    }

    .a04:hover {
      color: #8a1253;
    }
  }
}

@media screen and (min-width: 0) and (max-width: 425px) {
  .navbar {
    display: none;
  }
}
//RESPONSIVE TABLETTE
@media screen and (min-width: 767px) and (max-width: 1024px) {
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .navbar {
    a {
      font-size: 1.3em;
    }
  }
}

//RESPONSIVE MOBILE
@media screen and (min-width: 0) and (max-width: 425px) {
}

//active underline animation 
@keyframes slide-active-links {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
