.progressBar-container {
  .progress-skills {
    display: flex;
    align-items: center;

    gap: 1em;

    p {
      width: 75px;
    }
  }
  .progress {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    align-items: center;
    padding: 0 5px;
    display: flex;
    height: 30px;
    width: 85px;
    margin-right: 20px;

    .progress-value {
      animation: load 3s normal forwards;
      box-shadow: 0 10px 40px -10px #fff;
      border-radius: 100px;
      background: #fff;
      height: 20px;
      width: 0;
    }

    @keyframes load {
      0% {
        width: 0;
      }
      100% {
        width: 68%;
      }
    }
  }
}
