.blog-card-container {
  margin-bottom: 100px;

  .blog-card-slider {
    .slick-prev,
    .slick-next {
      color: #f8f8f8;
      width: 40px;
      height: 40px;
      cursor: pointer;
      z-index: 1;
      transition: 1.5s;

      &:hover {
        color: rgb(168, 184, 198);
      }
    }

    // Custom Dots
    .custom-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65%;
      margin: auto;
    }

    .slick-dots {
      margin: auto;
      padding: 15px;
      background-color: #949397;
      border-radius: 20px;
      width: max-content;
      transition: 1.2s;

      &:hover {
        background-color: #7e9fcb;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blog-card {
  margin: auto;
  width: 80%;
  border-radius: 20px;
  animation: fadeIn 1.5s ease-in-out;

  .title {
    text-align: center;
    color: #7e9fcb;
  }

  .meta {
    .photo {
      width: 100%;
      height: 350px;
      filter: grayscale(100%);
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      object-fit: cover;
      transition: filter 1.5s;
      box-shadow: -2px -19px 42px -3px rgba(116, 93, 130, 1);
      -webkit-box-shadow: -2px -19px 42px -3px rgba(116, 93, 130, 1);
      -moz-box-shadow: -2px -19px 42px -3px rgba(116, 93, 130, 1);
    }
    .photo:hover {
      filter: none;
    }
  }

  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 20px 0;
    background-color: rgb(57, 54, 54);
    width: 100%;

    .subtitle {
      text-align: center;
      padding-bottom: 10px;
      color: #7e9fcb;
    }
    hr {
      width: 100%;
    }
    .content {
      text-align: center;
      font-size: 1.2em;
      width: 70%;
      padding: 5px 20px;
      color: rgb(220, 217, 215);
    }

    .read-more {
      width: fit-content;
      display: flex;
      align-items: end;
      justify-content: end;
      margin-left: auto;
      padding-right: 50px;
      gap: 2em;
    }
    a {
      text-decoration: none;
      color: inherit;
      font-size: 3em;
      color: rgb(235, 233, 227);

      &:hover {
        color: #7e9fcb;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }
  }
}

// Instagram

.video-container {
  background-color: #7e9fcb;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;

  .insta-content {
    width: 30%;
    padding: 20px;

    h2 {
      font-size: 2em;
      color: rgb(51, 49, 51);
    }
    p {
      font-size: 1.2em;
      color: rgb(59, 58, 58);
    }
  }

  a {
    video {
      background-color: #2a3b4a;
      width: 700px;
      height: 500px;
      box-shadow: 0px 12px 24px 2px rgba(220, 209, 233, 0.5);
      -webkit-box-shadow: 0px 12px 24px 2px rgba(220, 209, 233, 0.5);
    }
  }
}

.video-container {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.video-container.fade-in {
  opacity: 1;
}

//Responsive Desktop
@media only screen and (min-device-width: 900px) and (max-device-width: 1300px) {

}

//Responsive tablette
@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {

}

// Responsive Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .custom-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85% !important;
    margin: auto;
  }

  .blog-card {
    margin: auto;
    width: 100%;
    border-radius: 20px;
    animation: fadeIn 1.5s ease-in-out;
  
    .title {
      text-align: center;
      color: #7e9fcb;
    }
  
    .meta {
      .photo {
        width: 100%;
        height: 200px;
        box-shadow: none;
        
      }
      .photo:hover {
        filter: none;
      }
    }
  
    .description {

      .subtitle {
        font-size: 20px;
      }
      .content {
        font-size: 1em;
        width: 70%;
      }
  
      a {
        font-size: 2em;
      }
    }
  }
  
  // Instagram
  .video-container {
    padding: 20px;
    flex-direction: column;
    gap: 2em;
  
    .insta-content {
      text-align: center;
      width: 100%;
      padding: 10px;
  
      h2 {
        font-size: 1em;
      }
      p {
        font-size: 0.9em;
      }
    }
  
    a {
      video {
        width: 300px;
        height: auto;
      
      }
    }
  }
  .slick-prev {
    display: none !important;
  }
  .slick-next {
      display: none !important;
    }
}
