.blog-card-container {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  margin-bottom: 100px;

  .blog-card { 
    margin: auto;
    width: 350px;
    border-radius: 20px;
    animation: fadeIn 1.5s ease-in-out;

    .title {
      font-size: 1.2em;
      text-align: center;
      color: #7e9fcb;
    }

    .meta {
      .photo {
        width: 100%;
        height: 250px;
        filter: grayscale(100%);
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        object-fit: cover;
        background-repeat: no-repeat;
        transition: filter 1.5s;
        &:hover {
          filter: none;
        }
      }
    }

    .description {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      background-color: rgb(57, 54, 54);
      width: 100%;

      .subtitle {
        text-align: center;
        padding-bottom: 10px;
        color: #7e9fcb;
      }

      hr {
        width: 100%;
      }

      .content {
        text-align: center;
        font-size: 14px;
        width: 70%;
        padding: 5px 20px;
        color: rgb(220, 217, 215);
      }

      .read-more {
        width: fit-content;
        display: flex;
        align-items: end;
        justify-content: end;
        margin-left: auto;
        padding-right: 50px;
        gap: 2em;
      }

      a {
        text-decoration: none;
        color: inherit;
        font-size: 2em;
        color: rgb(235, 233, 227);

        &:hover {
          color: #7e9fcb;
          transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


// Instagram

.video-container {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;

  .insta-content {
    width: 30%;
    padding: 20px;

    h2 {
      font-size: 2em;
      color: rgb(51, 49, 51);
    }
    p {
      font-size: 1.2em;
      color: rgb(59, 58, 58);
    }
  }

  a {
    video {
      background-color: #2a3b4a;
      width: 700px;
      height: 500px;
      box-shadow: 0px 12px 24px 2px rgba(220, 209, 233, 0.5);
      -webkit-box-shadow: 0px 12px 24px 2px rgba(220, 209, 233, 0.5);
    }
  }
}

.video-container {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.video-container.fade-in {
  opacity: 1;
}

//Responsive Desktop
@media only screen and (min-device-width: 900px) and (max-device-width: 1300px) {

}

//Responsive tablette
@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {

}

// Responsive Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .custom-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85% !important;
    margin: auto;
  }

  .blog-card {
    margin: auto;
    width: 100%;
    border-radius: 20px;
    animation: fadeIn 1.5s ease-in-out;
  
    .title {
      text-align: center;
      color: #7e9fcb;
    }
  
    .meta {
      .photo {
        width: 100%;
        height: 200px;
        box-shadow: none;
        
      }
      .photo:hover {
        filter: none;
      }
    }
  
    .description {

      .subtitle {
        font-size: 20px;
      }
      .content {
        font-size: 1em;
        width: 70%;
      }
  
      a {
        font-size: 2em;
      }
    }
  }
  
  // Instagram
  .video-container {
    padding: 20px;
    flex-direction: column;
    gap: 2em;
  
    .insta-content {
      text-align: center;
      width: 100%;
      padding: 10px;
  
      h2 {
        font-size: 1em;
      }
      p {
        font-size: 0.9em;
      }
    }
  
    a {
      video {
        width: 300px;
        height: auto;
      
      }
    }
  }
  .slick-prev {
    display: none !important;
  }
  .slick-next {
      display: none !important;
    }
}
