
.skillsBox-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: fit-content;
  gap: 3em;

  .skills {
    display: flex;
    justify-content: space-between;
    gap: 3em;
    h1 {
      font-size: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(26, 26, 26);
    }

    .skills-box {
      display: flex;
      width: 200px;
      border-left: 2px solid rgb(126, 159, 203);
      border-radius: 15px;
      padding: 10px;

      .logos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        gap: 1em;
        cursor: pointer;
        .skill-logo {
          width: 50px;
          filter: grayscale(100%);
        }
        .skill-logo:hover {
          filter: none;
          filter: drop-shadow(0 0 0.75rem #7a776e);
        }
      }
    }
  }
}
