
.skillsBox-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: fit-content;
  gap: 3em;

  .skills {
    display: flex;
    justify-content: space-between;
    gap: 3em;
    h1 {
      font-size: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(26, 26, 26);
    }

    .skills-box {
      display: flex;
      width: 200px;
      border-left: 4px solid rgb(244, 244, 244);
      border-radius: 15px;
      background-color: rgba(126, 159, 203, 0.5);
      padding: 10px;

      .logos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        gap: 1em;
        cursor: pointer;
        .skill-logo {
          width: 50px;
          filter: grayscale(100%);
        }
        .skill-logo:hover {
          filter: none;
          filter: drop-shadow(0 0 0.75rem #7a776e);
        }
      }
    }
  }
}

//Responsive Desktop
@media only screen and (min-device-width: 900px) and (max-device-width: 1300px) {

}

//Responsive tablette
@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {

}

// Responsive Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
 
.skillsBox-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .skills {
    flex-direction: column;
    gap: 1em;

    .skills-box {
      width: 55%;
      margin: auto;
      padding: 15px;
      border-left: 4px solid rgba(126, 159, 203, 1);
      background-color: rgba(244, 244, 244, 0.396);

      .logos {
        .skill-logo {
          width: 35px;
          filter: none;
        }
      }
    }
  }
}
}
