.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid red;
  gap: 2em;

  h2 {
    color: aliceblue;
  }

  .skills-main {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px;
    border: 2px solid blue;
    gap: 1em;

      .box-skills-container {
        border: 2px solid salmon;
        display: flex;

          .img-logo > img {
            background-color: aliceblue;
          width: 100px;
          height: 100px;
  
        }

        
      }
  }

  
  .box-skill-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-align: center;

    h2 {
      text-transform: uppercase;
      margin-block-start: 0;
      font-size: 15px;
      color: rgb(51, 45, 45);
    }

    p {
      margin-block-start: 0;
      margin-block-end: 0;
      color: rgb(51, 45, 45);
    }
  }

  // Skills Bar

  .skillBar {
    margin-top: 10px;
    width: 100px;
    background-color: #ca4021;
    height: 4px;
    border-radius: 10px;
    .html,
    .css,
    .javaScript {
      height: 4px;
      border-radius: 10px;
    }

    .html {
      width: 75px;
      background-color: antiquewhite;
    }
    .css {
      @include flex;
      width: 60px;
      background-color: antiquewhite;
    }
    .javaScript {
      width: 40px;
      background-color: antiquewhite;
    }
  }

}