.softSkills {
    h3 {
        text-align: center;
        background-color: #7e9fcb;
        color: beige;
        padding: 15px;
      }

  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 1em;

    li {
      text-align: center;
      color: rgb(243, 237, 237);
      background-color: #545151d1;
      width: 70%;
      padding: 20px;
      margin: 0;
    }

    .li1:hover {
      -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
    }
    .li2:hover {
      -webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
    }
    .li3:hover {
      -webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
    }
    .li4:hover {
      -webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
    }
  }
}

//Responsive Desktop
@media only screen and (min-device-width: 900px) and (max-device-width: 1300px) {

}

//Responsive tablette
@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {

}

// Responsive Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .softSkills {
    h3 {
      width: fit-content;
      margin: auto;
    }
  ul {
    flex-direction: row;
    flex-wrap: wrap;
    li {
      text-align: center;
      color: rgb(243, 237, 237);
      background-color: #545151d1;
      width: 60%;
      padding: 20px;
      margin: 0;
    }

  }
}
}
