.contact-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .container-right {
    font-family: "Questrial", sans-serif;
    width: 100%;
  }
  .contact-details {
    
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: auto;
    
    .contact {
     display: inline-flex;
      .icone {
        display: flex;
        align-items: center;
        margin: 20px;
        color: white;
        font-size: 25px;
      }
      .title, .text {
        color: white;
      }

    }
  }
}
