.home-container {
  .home-elements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .name-container {
      width: fit-content;
      height: auto;
      h1 {
        color: white;
        font-size: 150px;
        font-family: "Questrial", sans-serif;
      }
      h1:hover {
        text-shadow: 0 0 2px #4877a7, 0 0 30px #3f1559, 0px 0px 5px #663678,
          0 0 150px #593a7c;
        color: #8f30b8;
      }
    }

    .profile-pictures {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      width: fit-content;
      margin-bottom: 30px;

      img {
        width: 300px;
        filter: grayscale(100%);
      }
      img:hover {
        filter: none;
      }
    }
  }
  hr {
    margin-bottom: 35px;
  }

  .profile-description {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    h2 {
      color: white;
      font-family: "Questrial", sans-serif;
      font-weight: 400;
      margin: 0;
    }

    p {
      font-family: "Questrial", sans-serif;
      text-align: center;
      width: 620px;
    }
  }
}

//RESPONSIVE TABLETTE
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .profile-description {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .name-container {
    h1 {
      font-size: 95px !important ;
    }
  }
  .profile-pictures {
    justify-content: center;

    img {
      width: 250px !important;
    }
  }
  .profile-description {
    p {
     text-align: center;
      padding: 20px;
    }
  }
}

//RESPONSIVE MOBILE
@media screen and (min-width: 0) and (max-width: 425px) {
  .name-container {
    h1 {
      font-size: 85px !important;
    }
  }
  .profile-pictures {
    justify-content: center;

    img {
      width: 200px !important;
    }
  }
  .profile-description {
    p {
      text-align: center;
      padding: 20px;
    }
  }
}
