.home-container {
  .home-elements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;

  .name-container {
    width: 30%;
    height: auto;
    h1 {
      color: white;
      font-size: 150px;
      font-family: "Questrial", sans-serif;
    }
    h1:hover {
      text-shadow:0 0 2px #FFD100,0 0 30px #FFD100,0px 0px 5px #FFD100, 0 0 150px #FFD100;color:#FFD100;

    }
  }

  .profile-pictures {
    display: flex;
    gap: 1em;
    width: fit-content;
    padding-right: 50px;

    img {
      width: 300px;
      filter: grayscale(100%);
    }
    img:hover {
      filter: none;

    }
  }
}

.profile-description {
  display: flex;
  justify-content: space-between;

  h2 {
    color: white;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
  }

  p {
    font-family: "Questrial", sans-serif;
    width: 620px;
    padding-right: 50px;
  }
}
}






