.home-container {
  .home-elements {
    display: flex;
    justify-content: center;
    gap: 12em;
    flex-wrap: wrap;
    height: auto;
    background-color: rgb(126, 159, 203);
    background-image: url('https://imgur.com/qnBmnQo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

    .name-container {
      width: fit-content;
      height: auto;
      h1 {
        color: rgb(54, 52, 52);
        font-size: 150px;
        font-family: "Questrial", sans-serif;
        text-shadow: -3px 5px 12px #d1d0cf;
      }
    }

    .profile-pictures {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      width: fit-content;
      margin-bottom: 30px;
      animation: an 1.3s ease-out 1 both;

      .homePicture {
        margin: auto;
        height: 420px;
        width: 300px;
        filter: grayscale(100%);
        transition: 1.2s;
        object-fit: cover;
        border-radius: 20px;
        -webkit-box-shadow: -4px 6px 15px 2px rgba(217, 216, 215, 0.52);
        box-shadow: -4px 6px 15px 2px rgba(217, 216, 215, 0.52);

        &:hover {
          filter: none;
        }
      }
    }
  }

  .profile-description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 80%;
    margin: auto;
    padding: 40px 0;

    .title-and-citation {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1em;

      h2 {
        color: rgb(42, 41, 41);
        font-family: "Questrial", sans-serif;
        font-weight: 400;
        margin: 0;
      }

      .citation {
        border: 2px solid #7e9fcb;
        padding: 10px;
        border-radius: 15px;
        text-align: center;
        color: rgb(49, 47, 47);
        animation: an 1s ease-out 1 both;
      }

      .author {
        text-align: end;
        color: rgb(43, 40, 40);
      }
    }

    .home-description {
      border-left: 3px solid #7e9fcb;
      width: 600px;
      padding-left: 40px;
    }
  }
}

//Animation citation
@keyframes an {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px)
      rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}

//Responsive Desktop
@media only screen and (min-device-width: 900px) and (max-device-width: 1300px) {
  .home-container {
    .home-elements {
      gap: 2em;
 
      .name-container {
        h1 {
          font-size: 100px;
        }
      }
  
      .profile-pictures {
        margin-bottom: 0;
  
        .homePicture {
          height: 320px;
          width: 280px;
        }
      }
    }
  
    .profile-description {
      gap: 2em;
  
      .title-and-citation {
   
        .citation {
          width: 200px;
        }

      }
    }
  }
}

//Responsive tablette
@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {
  .home-container {
    .home-elements {
      gap: 1em;
      padding: 30px 0;
 
      .name-container {
        h1 {
          font-size: 70px;
        }
      }
  
      .profile-pictures {
        margin-bottom: 0;
  
        .homePicture {
          height: 220px;
          width: 180px;
        }
      }
    }
  
    .profile-description {
      justify-content: center;
      flex-direction: column;
      gap: 2em;
      
      .homePicture2 {
        display: none;
      }
      .title-and-citation {
        margin-top: 30px;
        .citation {
          width: 400px;
        }

      }
      .home-description {
        border-left: none;
        text-align: center;
        width: 400px;
        padding-left: 0;
      }
    }
  }
}

// Responsive Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .home-container {
    .home-elements {
      gap: 1em;
      padding: 30px 0;
 
      .name-container {
        h1 {
          font-size: 70px;
        }
      }
  
      .profile-pictures {
        margin-bottom: 0;
  
        .homePicture {
          height: 220px;
          width: 180px;
        }
      }
    }
  
    .profile-description {
      justify-content: center;
      gap: 2em;
  
      .title-and-citation {
        margin-top: 30px;

        h2 {
          text-align: center;
        }
        .citation {
          width: auto;
        }

      }
      .home-description {
        border-left: none;
        text-align: center;
        width: auto;
        padding-left: 0;
      }
    }
  }
}
