.portfolio-container {
  background-image: url('https://imgur.com/qnBmnQo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;

}

//Responsive Desktop
@media only screen and (min-device-width: 900px) and (max-device-width: 1300px) {

}

//Responsive tablette
@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {

}

// Responsive Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
  .portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
      
    }
}
