
.skills-container {
    

   .title-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    h2 {
        color: white;
        font-size: 90px;
    }

    p {
        font-size: 25px;
        margin: 0 15px;
    }

} 

.profile-container {
    display: flex;
    justify-content: baseline;
   

    .profile-box {
        display: block;
        border: 2px solid red;
        width: -webkit-fill-available;

        h3 {
            border: 1px solid green;
        }
        p {
            border: 1px solid rosybrown;
        }
        ul {
            border: 1px solid red;
        }
    }
}
}
