.skills-container {
  background-image: url('https://imgur.com/qnBmnQo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  .about-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 5em;
    margin: 50px;
    animation: an 1.3s ease-out 1 both;

    .profile-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 400px;
      height: auto;

      .profile-box {
        display: block;
        
        h3 {
          background-color: #7e9fcb;
          color: beige;
          padding: 15px;
          margin-bottom: -20px;
        }
        p {
          background-color: #545151d1;;
          padding: 40px 60px;
          color: rgb(247, 239, 239);
        }
      }
    }
  }

  .shareCv {
    background-color: red;
    height: 50px;
    width: 10%;
  }
}
